name: nfs-provisioner
title: Ganesha NFS provisioner
type: storage
icon: ganesha
hostname: nfs
scalable: false
options:
- version: '4'
  tag: v4.0.8
  default: true

containers:
- name: nfs
  image: registry.k8s.io/sig-storage/nfs-provisioner

endpoints:
- name: nfs
  ports:
  - name: nfs
    number: 2049
    protocol: tcp
    main: true
  - name: nfs-udp
    number: 2049
    protocol: udp
  - name: nlockmgr
    number: 32803
    protocol: tcp
  - name: nlockmgr-udp
    number: 32803
    protocol: udp
  - name: mountd
    number: 20048
    protocol: tcp
  - name: mountd-udp
    number: 20048
    protocol: udp
  - name: rquotad
    number: 875
    protocol: tcp
  - name: rquotad-udp
    number: 875
    protocol: udp
  - name: rpcbind
    number: 111
    protocol: tcp
  - name: rpcbind-udp
    number: 111
    protocol: udp
  - name: statd
    number: 662
    protocol: tcp
  - name: statd-udp
    number: 662
    protocol: udp

imports:
- name: files
  volume: data
  title: Files import
  destination: '/export/pvc-{{import_pvc_uid}}'
  extensions:
  - tar
  - tar.gz
  - tgz
  - zip

volumes:
- name: data
  title: Data
  helm:
    values:
    - name: persistence.enabled
      value: true
    - name: persistence.size
      value: '{{volumes.data.size}}Gi'
    # mandatory to use existing claim since this volume has import function
    # we will mount different claim after import and doing it through sts's volumeclaimtemplates is not supported
    - name: persistence.existingClaim
      value: '{{volumes.data.claim}}'

helm:
  name: wodby
  source: oci://registry-1.docker.io/wodby/nfs-provisioner
  chart: oci://registry-1.docker.io/wodby/nfs-provisioner
  version: 0.2.0
  configurations:
  - name: nfs
    annotations: podAnnotations
    labels: podLabels
    env: envVars
    resources: resources

backups:
- name: files
  title: Files backup
  upload:
    dir: /export
    gzip: false
